*[hidden] {
	display: none;
}

body, html {
	font-family: 'Economica', sans-serif;
	background-color: #141414;
}

#canvas-container {
	overflow-x: auto;
	overflow-y: visible;
	position: relative;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: auto;	
	margin-left: auto;
}

.canvas {
	display: block;
	position: relative;
	overflow: hidden;
}

.logo {
	max-width: 100px;
}

.logo-small {
	max-width: 60px;
	padding-right: 10px;
}

h1 {
	font-weight: 700;
	font-style: normal;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	font-size: 60px;
	text-align: center;

}

.header {
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	margin-top: 70px;
}

.header2 {
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	margin-top: 40px;
}

.login {
	margin-top: 25px;
	font-size: 25px;
}

span {
	color: #8eb2fb;
}

h6 {
	font-size: 10px;
	text-align: center;
	margin-top: 100px;
	color: #525252;
}

.content{
	text-align: center;
}

em {
	letter-spacing: 0.1em;
	color:#C4D7FD;
}

hr {
	max-width: 80px;
}

.tweet {
	max-width: 40px;
	padding-right: 10px;
}

.twittercontent {
	text-align: center;
}

.short {
	max-width: 15px;
}