*[hidden] {
	display: none;
}

#canvas-container {
	overflow-x: auto;
	overflow-y: visible;
	position: relative;
	margin-top: 20px;
	margin-bottom: 20px;
}

.canvas {
	display: block;
	position: relative;
	overflow: hidden;
}

#loadingMsg div {
	width: 250px;
	float: left;
}